@use "variables" as v;

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktop_xl {
    @media (min-width: v.$desktop_xl) {
        @content;
    }
}

@mixin grid($columnas, $separacion) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $separacion;
}

@mixin boton($bg_color, $display) {
    background-color: $bg_color;
    padding: 1rem 2rem;
    display: $display;
    text-align: center;
    color: v.$blanco;
    text-transform: uppercase;
    font-weight: v.$bold;
    font-size: 1.9rem;
    border: none;
    &:hover {
        background-color: darken($bg_color, 5);
    }
}