@use "base/variables" as v;
@use "base/mixins" as m;

.barra {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.dark-mode {
    display: flex;
    padding-top: 2rem; 
    img {
        filter: invert(100%);
        width: 4rem;
        &:hover {
            cursor: pointer;
        }
    }
    @include m.tablet {
        justify-content: flex-end;
    }
}

.navegacion {
    a {
        color: v.$blanco;
        font-size: 2.2rem;
        text-align: center;
        &:hover { color: v.$verde; }
    }
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
    @include m.tablet {
        flex-direction: row;
        column-gap: 2rem;
    }
}    
.ocultar {
    display: none;
}
/* Mobile menu */
.mobile-menu {
    width: 100%;
    margin-top: 2rem;
    img {
        width: 4rem;
        margin: 0 auto;
    }
}
@include m.tablet {
    .mobile-menu {
        display: none;
    }
}